@charset "utf-8";
/* CSS Document */

.avatar
{
	width: 150px;
	height: 150px;
	border-radius: 80%;
	position: absolute;
	top: -40%;
	left: calc(50% - 50px);
}

.loginbox
{
	
	width :780px;
	height: 400px;
	background: #FCF3CF;
	color: #fff;
	top: 40%;
	left: 25%;
	position: absolute;
	transform: translate(-50%,-5-%);
	box-sizing: border-box;
	padding: inherit;
}




body {
	width: 100%; 
	height: 100%;
	background-image: url(../images/bodyim.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#menu {
	float: right;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-right: 50px;

}

#menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#menu ul li a {
	float: left;
	width: 104px;
	height: 40px;
	margin-left:10px;
	padding-top: 6px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	background: url(../images/menu.png);
}

#menu ul li a:hover, #t_menu ul .current {
	color: #333;
	background: url(../images/menu_hover.png) no-repeat;
}



#cont{ 
	width: 1000px; 
	height: 1000px; 
	margin: 0px center;
	background: url(../cont.jpg) no-repeat center;
}

div.headings{
	width: 1200px;
	position: relative;
  	margin: auto;
	border: 5px solid #E0FFFF;
	box-shadow: 0px 0px 5px 2px #ccc;
	background-image: url(../images/headkrish.jpg);
	border-radius: 20px;
}
#he{
	color: white;
	font-size: 50px;
	text-align: center;
	font-family: Dusha;
	font-style: italic;

}













#footer{ 
	width: 1220px; 
	height: 150px; 
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(../images/footer.png) no-repeat center;
	float: bottom;
}
#fb{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: 300px;
	margin-top: 10px;
	background: url(../images/fb.png) no-repeat center;
}
#wts{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: -120px;
	margin-top: 10px;
	background: url(../images/wts.png) no-repeat center;
}
#tw{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: -190px;
	margin-top: 10px;
	background: url(../images/tw.png) no-repeat center;
}
#ins{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: -260px;
	margin-top: 10px;
	background: url(../images/ins.png) no-repeat center;
}


#gma{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: -50px;
	margin-top: 70px;
	background: url(../images/gma.png) no-repeat center;
}
#link{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: -120px;
	margin-top: 70px;
	background: url(../images/link.png) no-repeat center;
}

#gp{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: -190px;
	margin-top: 70px;
	background: url(../images/gp.png) no-repeat center;
}
#gm{ 
	float: right;
	width: 50px; 
	height: 50px; 
	margin-right: -260px;
	margin-top: 70px;
	background: url(../images/gm.png) no-repeat center;
}
#footerh1{
	float: left;
	margin-top: 10px;
  	margin-left: 50px;
  	font-size: 30px;
  	font-weight: 300;
  	text-align: left;
 	color: #ffffff;
}

#footerp1{
	float: left;
	margin-top: 60px;
  	margin-left: -135px;
  	font-size: 15px;
  	font-weight: 100;
  	text-align: left;
 	color: #ffffff;
}
#footermiddlep{
	float: left;
	margin-top: 100px;
  	margin-left: 230px;
  	font-size: 15px;
  	font-weight: 100;
  	font-family: Courier New;
  	text-align: left;
 	color: #ffffff;
}