@charset "utf-8";
/* CSS Document */

.avatar
{
	width: 150px;
	height: 150px;
	border-radius: 80%;
	position: absolute;
	top: -40%;
	left: calc(50% - 50px);
}

.loginbox
{
	
	width :880px;
	height: 400px;
	background: #FCF3CF;
	color: #fff;
	top: 40%;
	left: 25%;
	position: absolute;
	transform: translate(-50%,-5-%);
	box-sizing: border-box;
	padding: inherit;
	border-radius: 40px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button2 {border-radius: 4px;}


#footer{ 
	width: 1220px; 
	height: 150px; 
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(../images/footer.png) no-repeat center;
	float: bottom;
}
